<section class="listar-curriculos">
  @for (item of curriculos; track item.id){
    <div>
      <div class="card">
        <img src="assets/img/vagas/{{item.foto}}" alt="...">
        <div class="card-body">
          <h5 class="card-title">Codigo do Curriculo: {{item.id}}</h5>
          <h5 class="card-title">Nome: {{item.nome}}</h5>
          <p class="card-text">Descricao: {{item.descricao}}</p>
          <p class="card-text">Pretensao Salarial: R$ {{item.salario}}</p>
        </div>
      </div>
    </div>
  }
</section>
